.app{
    background-image: url("https://media.istockphoto.com/id/1344257083/photo/white-bokeh-lights-abstract-background.jpg?b=1&s=170667a&w=0&k=20&c=dppaNlcevHyrim93mqFbehypXdbbxZrqtUmrFH2O7rA=");
    background-repeat: no-repeat;
    background-size: cover;
    /* border: gray; */
}