.app{
    background-image: url("https://media.istockphoto.com/id/1352170879/photo/white-gray-gradient-room-background.jpg?b=1&s=170667a&w=0&k=20&c=qQdNR_Pvdi_Z4Yq-ETnivI8J2vliJrqkqDu0RGD-Pqo=");
    background-repeat: no-repeat;
    background-size: cover;

    /* border: gray; */
}